%h1 Your Polls

.dashboard-wrapper.row
  .user-polls.span6
    %h1 Your Polls
    %table.table.striped
      = current_user.polls.each do |poll| 
        %tr#poll.id
          %td
            / Need to add (poll) as it needs the ID to match to the route.
            =link_to "#{poll.title}", poll_path(poll)
          %td
            =link_to "Edit", edit_poll_path(poll)
          %td
            = link_to "Stop", :class => 'btn btn-danger'

  .create-polls.span6
    = link_to "Create Poll", new_poll_path, :class => 'btn btn-success'




  .svg
    