$backgroundimage : url('putabirdonit.jpg');
$gray : #333333;
$hovercolor: #46b9c4;



.user-polls {

}

.create-polls{

}
// .show-page{
//   border:2px solid black;
// }

.graph{
  border: 2px solid black;
}

svg.show{
  // height:  500px;
  // width:   500px;
  border: 1px solid black;
}

.nav-links{
  float: left;
  clear: both;
}