// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$backgroundimage : url('putabirdonit.jpg');
$gray : #333333;
$hovercolor: #46b9c4;


html {
  font-size: 62.5%;
}

body{
  background-image: $backgroundimage;
}

// HomePage Text

div.page-titles{
  font-family: Domine;
  color: $gray;
  // padding is a Hack to line up with li el's
  padding-left: 42px;

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 20px;
  }
}


// Nav Bar
.navcontainer{
  width: 100%;
  background: $gray;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  ul li{
    // padding-left: 10rem;
    float: left;
    list-style: none;
    margin-top: auto;
    margin-bottom:auto;
    padding-bottom:10px;

    // I just copied and pasted from my app.css.scss
    // Ask about DRYer ways of importing and extending
    // Using SASS methods
    a{
      color: white;
      text-decoration: none;
      float: left;
      /*margin-left: 15px;*/
      font-family: Domine;
      text-transform: uppercase;
      font-size: 25px;
      padding-left: 15px; 
      -webkit-transition-duration: 0.35s;

      &:visited{
        color: white;
        text-decoration: none;
      }

      &:hover{ 
        color: $hovercolor;
        -webkit-transition-duration: 0.35s;
      }
    }
  }
    
  // #middle{
  //   width:420px;
  //   margin: auto;
  // }
}

// RegistrationFields and Partials
.registration{
  display: inline-block;
  #new_user{

    input {
    border-radius: 10px;
    height:26px;
    display: inline-block;
    float:left;
    border:none;
    margin-left: 5px;
    }
  }
}

.login{
  @extend .registration;  

  input#user_remember_me[type="checkbox"]:checked  {
    height: 29px;
    width: 29px;
  }
}
