body#dashboard{
  background-image : url('textured_paper.png');
  background-repeat: repeat;
  font-family: "HelveticaNeue-Light"
}
.dashboard-wrapper{
  div{
    float: left;
    display: inline-block   ;
  }
  .user-polls{

    h1{
      margin-left: 30px;
    }
    table{
      font-size: 20px;
      a{
        .delete-poll{
          color: red;
        }
      }
    }
  }
}

